{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block body %}
	
		    
	<div class="container">

      <div class="masthead">
        <h3 class="muted">ThreadGab.com</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/app_dev.php/portal/main">Friend Threads</a></li>
                <li><a href="/app_dev.php/portal/community">Community Threads</a></li>
                <li><a href="/app_dev.php/portal/global">Global Threads</a></li>
                <li class="active"><a href="/app_dev.php/portal/groups">Group Threads</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        	<h1>Hello {{name}}. Here are your groups.</h1>
      </div>

      <div class="footer">
        <p>&copy; ThreadGab.com 2014</p>
      </div>
    </div>
{% endblock %}


