{% extends "base.html.twig" %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}
{% block body %}
	
		    
	<div class="container">
  		<img src="{{user_profile_photo.url}}"></img>
  	</div>
{% endblock %}
